page-terms {
    .content{
        background-color: $color-background;
    }
    .header-md::after{
        background-color: rgba(251, 211, 94, 0.56);
      }
    .toolbar-title{
    color: #92786a;
    text-align: center;
    
    }  
}
