<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row >
        <ion-col col-1><ion-icon class="greenicon" name="menu" (click)="openmenu()"></ion-icon></ion-col>
        <ion-col col-9 style="text-align: center;color:gray" >{{'All Products'|translate}}</ion-col>
        <ion-col col-1 class="greenicon">{{cartNo}}</ion-col>
        <ion-col col-1 class="greenicon" (click)="myCart()"><ion-icon name="cart"></ion-icon></ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
   
  <ion-row class="headerrow">
      <ion-col col-9 > 
        <ion-icon name="search" class="searchicon"></ion-icon>
        <ion-input class="searchinput" (click)="gosearch()" type="text" placeholder="{{'Search...'|translate}}" readonly></ion-input>
      </ion-col>
      <ion-col col-3 style="border-right:1px solid lightgray;border-left:1px solid lightgray;">
        <p class="filter" (click)="gofilter()">{{'Sort'|translate}}<ion-icon name="arrow-down"></ion-icon></p></ion-col>
    </ion-row>
</ion-header>
<ion-content> 
<ion-row>
  <ion-col col-6 *ngFor="let product of products,let i=index">
<ion-card>
  <ion-card-header>
    {{product.product_name}}
  </ion-card-header>
  <ion-card-content>
    <img [src]="imageUrl+product.image" 
    (click)="godetails(product.product_name,product.weight,product.price,imageUrl+product.image,product.descriptaion,product.cart.length,icons[i],product.product_id,product.favourit[0]?.favourite_id)">
    <ion-row style="border-bottom:1px solid lightgray">
      <ion-col col-6 style="text-align:start;color:gray;font-size: 1.2rem;">{{product.weight}}{{'gm'|translate}}</ion-col>
      <ion-col col-6 style="text-align:end;color:green;font-size: 1.2rem;">{{product.price}}{{' SAR'|translate}}</ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-8>
      <div class="qaundiv">
        <ion-icon name="remove" style="float:left" id='remove'(click)="removeItem(product.cart[0].cart_id,mycounter)"></ion-icon>
          <input class="itemnum" #mycounter value={{count2[i]}} readonly="readonly">
          <ion-icon *ngIf="product.cart.length > 0" name="add" style="float:right" (click)=addToCart(product.product_id,mycounter,product.cart[0].cart_id)></ion-icon>
          <ion-icon  *ngIf="product.cart.length == 0" name="add" style="float:right" (click)=addToCart(product.product_id,mycounter)></ion-icon>
          
        </div>
    </ion-col>
    <ion-col col-4 style="padding:5px 0" >
        <div class="heartdiv"> 
            <ion-icon   
            #icon
            name={{icons[i]}}  (click)=addtoFav(product.product_id,i)></ion-icon>                  
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-content>
