page-map {
#map {
        height: 86%;
        height: 100%;
    }
.map {
        height: 100%
    }
    .toolbar-background{
        background-color: white;
        }
        .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 500;
            color: gray !important;
            text-align: center;
            margin-right: 60px !important;
        }
}
