<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="border-bottom: 1px solid orange;">
    <ion-title>
      <ion-row >
        <ion-col col-10 style="text-align: center;color:gray">{{'Your Cart'|translate}}</ion-col>
        <ion-col col-1 class="greenicon">5</ion-col>
        <ion-col col-1 class="greenicon"><ion-icon name="cart"></ion-icon></ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row class="toprow">
      <ion-col col-4>
        <div class="cartstep" id="laststep"><div><ion-icon name="checkmark"></ion-icon></div>{{'Add Item'|translate}}</div>
      </ion-col>
      <ion-col col-4>
        <div class="cartstep" id="laststep"><div><ion-icon name="checkmark"></ion-icon></div>{{'Location'|translate}}</div>
      </ion-col>
      <ion-col col-4>
        <div class="cartstep" *ngIf="flag" id="laststep"><div><ion-icon name="checkmark"></ion-icon></div>{{'Payment'|translate}}</div>
        <div class="cartstep" *ngIf="!flag"><div>3</div>{{'Payment'|translate}}</div>
      </ion-col>
  </ion-row>

  <ion-list radio-group >
      <ion-item class="paytype">
        <ion-label>
          <img src="assets/imgs/cash.png"> <p>Cash on delivery</p>
        </ion-label>
          <ion-radio [disabled]="flag" checked="true" value="cash"></ion-radio>
      </ion-item>
    
      <ion-item class="paytype">
        <ion-label>
          <img src="assets/imgs/mastercard.png"><p>By Mastercard</p>
        </ion-label>
        <ion-radio [disabled]="flag" value="mastercardgo"></ion-radio>
      </ion-item>
      
      <ion-item class="paytype">
        <ion-label>
          <img src="assets/imgs/paypal.png"><p>Paypal</p>
        </ion-label>
        <ion-radio [disabled]="flag" value="paypal"></ion-radio>
      </ion-item>

      <ion-item class="paytype">
        <ion-label>
          <img src="assets/imgs/visa.png"><p>By Visa</p>
        </ion-label>
        <ion-radio [disabled]="flag" value="visa"></ion-radio>
      </ion-item>

      <ion-item class="paytype">
        <ion-label>
          <img style="background-color:white"><p>Sadad</p>
        </ion-label>
        <ion-radio [disabled]="flag" value="Sadad"></ion-radio>
      </ion-item>

      <ion-item class="paytype">
          <ion-label>
            <img src="assets/imgs/point.png"><p>By Points</p>
          </ion-label>
          <ion-radio [disabled]="flag"  value="point"></ion-radio>
        </ion-item>
    </ion-list>
   
</ion-content>
<ion-footer>
    <button ion-button block class="next" id="btn" (click)="goinvoice()">{{'Confirm Order'|translate}}</button>   
</ion-footer>